<div mat-dialog-content>
    <div *ngIf="data.isCreation; else add_user">
        <h1 class="txt-center">Créer un nouveau groupe</h1>
        <mat-form-field appearance="outline">
            <mat-label>Nom du groupe</mat-label>
            <input matInput type="text" [(ngModel)]="name" placeholder="La team" required>
        </mat-form-field>
    </div>
    <ng-template #add_user>
        <h1 class="txt-center">Ajouter un membre</h1>
        <div class="search">
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput type="text" [(ngModel)]="name" placeholder="Thomas" required>
            </mat-form-field>
        </div>
    </ng-template>
</div>

<div mat-dialog-actions class="justify-between">
    <button mat-flat-button [mat-dialog-close]="false">Annuler</button>
    <button mat-flat-button
            [mat-dialog-close]="name"
            class="btn secondary"
            (click)="submit()"
            [disabled]="name.trim() === ''">
        <span *ngIf="data.isCreation">Créer le group</span>
        <span *ngIf="!data.isCreation">Ajouter un membre</span>
    </button>
</div>
