mat-sidenav-container {
    height: 100%;

    .sidenav {
        width: 18%;
        background-color: #14213D;

        @media (max-width: 786px) {
            width: 80%;
        }

        .active {
            background: linear-gradient(90deg, #E64602 0%, #FCA311 100%);
        }

        .avatar {
            vertical-align: middle;
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }

        mat-divider {
            background: #F5F5F5;
        }

        .sticky-item {
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: #14213D;

            &.profile {
                top: 64px !important;
                padding-top: 16px;
                padding-bottom: 8px;

                .pb-8 {
                    padding-bottom: 8px;
                }
            }
        }

        .bottom-btn {
            position: fixed;
            bottom: 0;
            background-color: #14213D;
            width: 18%;

            @media (max-width: 786px){
                width: 80%;
            }

            a, mat-icon {
                color: #FCA311;
            }
        }

        .pb-50 {
            padding-bottom: 50px;
        }
    }

    img, mat-icon {
        margin-right: 12px;
    }

    .mat-list-item, mat-panel-title, mat-toolbar {
        color: #FFFFFF;
    }

    .toolbar {
        background-color: rgb(20,33,61,.94);
        position: sticky;
        top: 0;
        z-index: 100;

        .home {
            cursor: pointer;
        }
    }

    .app-content {
        padding: 24px;
        min-height: 100%;
        background-color: #E5E5E5;

        &:after {
            content: "";
            display: block;
        }

        @media screen and (max-width: 786px){
            padding: 10px;
        }
    }
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}
