mat-sidenav-container {
    height: 100%;

    .sidenav {
        width: 18%;
        background-color: #14213D;

        @media (max-width: 786px) {
            width: 80%;
        }

        mat-nav-list {
            padding-top: 0;
        }

        .avatar {
            vertical-align: middle;
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }

        .profile {
            font-size: 18px;
            margin-left: 12px;
        }

        .sticky-item {
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: #14213D;
        }

        mat-expansion-panel {
            background-color: transparent !important;
            padding: 0 !important;
            border: none !important;
        }

        .active {
            background: linear-gradient(90deg, #E64602 0%, #FCA311 100%);

            mat-icon {
                color: #14213D;
            }
        }

        .bottom-btn {
            position: fixed;
            bottom: 0;
            background-color: #14213D;
            width: 18%;

            @media (max-width: 786px){
                width: 80%;
            }
            a, mat-icon {
                color: #FCA311;
            }

            .icon-margin {
                margin-right: 12px;
            }
        }
    }

    .toolbar {
        background-color: rgb(20,33,61,.94);
        position: sticky;
        top: 0;
        z-index: 100;

        .home {
            cursor: pointer;
        }
    }

    .mat-list-item, mat-panel-title, mat-toolbar {
        color: #FFFFFF;
    }

    .app-content {
        padding: 24px;
        min-height: 100%;
        background-color: #E5E5E5;

        &:after {
            content: "";
            display: block;
        }

        @media screen and (max-width: 786px){
            padding: 10px;
        }
    }
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}
