.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.avatar {
    vertical-align: middle;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.profile {
    margin-left: 12px;
    font-size: 18px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 10;
}

.app-content {
    padding: 24px;
    min-height: 100%;

    &:after {
        content: "";
        display: block;
    }
}

.active {
    color: #f492b4;
    background-color: rgba(233,30,99,.15);
}

.bottom-btn {
    position: fixed;
    bottom: 0;
    width: 200px;
}

.group-list {
    overflow-y: scroll;
    padding-bottom: 48px;
}

.sticky-item {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #424242 !important;
}

.mobile-view {
    background-color: transparent;
}
