<mat-sidenav-container>
    <mat-sidenav
        *ngIf="authService.isLogged()"
        #drawer class="sidenav" fixedInViewport
        [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isMobile$ | async) ? 'over' : 'side'"
        [opened]="(isMobile$ | async) === false">

        <mat-toolbar class="sticky-item" style="height: 64px;" color="primary">
            <img src="assets/images/logo.svg" alt="Logo" width="48" height="48">
            <span>Keep Us</span>
        </mat-toolbar>

        <ng-container *ngIf="authService.isLogged() && authService.decodedToken">
            <div class="sticky-item profile">
                <mat-nav-list class="pb-8">
                    <!-- User profile -->
                    <a mat-list-item
                       routerLink="profile"
                       (click)="groupAction(-1)"
                       [ngClass]="{'active': currentId === '-1'}">
                        <img src="assets/images/avatars/avatar-{{selectedAvatar}}.png" alt="Avatar" class="avatar icon-margin">
                        <span>{{authService.decodedToken.sub}}</span>
                    </a>
                    <!-- Calendar -->
<!--                    <a mat-list-item-->
<!--                       routerLink="calendar"-->
<!--                       (click)="groupAction(0)"-->
<!--                       [ngClass]="{'active': currentId === '0'}">-->
<!--                        <mat-icon>calendar_month</mat-icon>-->
<!--                        <span class="ml-12">Calendrier</span>-->
<!--                    </a>-->
                </mat-nav-list>
                <mat-divider></mat-divider>
            </div>

            <!-- Get user groups -->
            <mat-nav-list class="pb-50" *ngIf="groups">
                <ng-container *ngFor="let group of groups">
                    <a mat-list-item
                       [ngClass]="{'active': currentId === group.id.toString()}"
                       (click)="groupAction(group.id, group);">
                        {{group.name === 'Personal space' ? 'Espace personnel' : group.name}}
                    </a>
                </ng-container>
            </mat-nav-list>

            <!-- Add new group -->
            <mat-nav-list class="bottom-btn" (click)="openAddModal(true);">
                <a mat-list-item>
                    <mat-icon>add_circle</mat-icon>
                    <span class="ml-12">Créer un groupe</span>
                </a>
            </mat-nav-list>
        </ng-container>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <ng-container *ngIf="authService.isLogged(); else no_auth">
                <button
                    type="button"
                    aria-label="sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isMobile$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

                <!-- Display name of group or page -->
                <span *ngIf="selectedGroup.name !== 'Personal space'">
                    {{ currentId !== '-1' ? selectedGroup.name : 'Profile' }}
                </span>

                <span *ngIf="selectedGroup.name === 'Personal space'">Espace personnel</span>

                <span class="spacer"></span>

                <!-- Display user actions based on rights -->
                <button mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Group menu"
                        *ngIf="selectedGroup.name !== 'Personal space' && currentId !== '-1'">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>group</mat-icon>
                        <span>Liste des membres</span>
                    </button>
                    <button mat-menu-item (click)="openAddModal(false)">
                        <mat-icon>group_add</mat-icon>
                        <span>Ajouter un membre</span>
                    </button>
                    <button mat-menu-item *ngIf="true">
                        <mat-icon>person_remove</mat-icon>
                        <span>Quitter le groupe</span>
                    </button>
                    <button mat-menu-item *ngIf="true">
                        <mat-icon color="warn">highlight_off</mat-icon>
                        <span class="txt-warn">Supprimer ce groupe</span>
                    </button>
                </mat-menu>
            </ng-container>

            <ng-template #no_auth>
                <img src="assets/images/logo.svg" alt="Logo" width="48" height="48"
                     class="home" routerLink="/home">
                <span *ngIf="!(isMobile$ | async)" class="home" routerLink="/home">Keep Us</span>
                <span class="spacer"></span>
                <button mat-flat-button class="btn outline" routerLink="/login">
                    Se connecter
                </button>
            </ng-template>
        </mat-toolbar>

        <!-- App content -->
        <div class="app-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>
