<mat-sidenav-container>
    <mat-sidenav
        *ngIf="authService.isLogged() && authService.decodedToken.id"
        #drawer class="sidenav" fixedInViewport
        [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isMobile$ | async) ? 'over' : 'side'"
        [opened]="(isMobile$ | async) === false">

        <mat-toolbar class="sticky-item" style="height: 64px;" color="primary">
            <img src="assets/images/logo.svg" alt="Logo" width="48" height="48">
            <span>Keep Us</span>
        </mat-toolbar>

        <ng-container>
            <div class="sticky-item profile">
                <mat-nav-list class="pb-8">
                    <!-- User profile -->
                    <a mat-list-item
                       routerLink="profile"
                       (click)="groupAction(-1)"
                       [ngClass]="{'active': currentId === '-1'}">
                        <img src="assets/images/avatars/avatar-{{avatarId}}.png"
                             alt="Avatar"
                             class="avatar icon-margin">
                        <span>{{authService.decodedToken.sub}}</span>
                    </a>
                </mat-nav-list>
                <mat-divider></mat-divider>
            </div>

            <!-- Get user groups -->
            <mat-nav-list class="pb-50" *ngIf="groups">
                <ng-container *ngFor="let group of groups">
                    <a mat-list-item
                       [ngClass]="{'active': currentId === group.id.toString()}"
                       (click)="groupAction(group.id, group);">
                        {{group.name === 'Personal space' ? 'Espace personnel' : group.name}}
                    </a>
                </ng-container>
            </mat-nav-list>

            <!-- Add new group -->
            <mat-nav-list class="bottom-btn" (click)="openAddModal(true);">
                <a mat-list-item>
                    <mat-icon>add_circle</mat-icon>
                    <span class="ml-12">Créer un groupe</span>
                </a>
            </mat-nav-list>
        </ng-container>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <ng-container *ngIf="authService.isLogged(); else no_auth">
                <!-- Display menu button in mobile view -->
                <button
                    type="button"
                    aria-label="sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isMobile$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

                <!-- Display name of groups and profile -->
                <span *ngIf="selectedGroup.name !== 'Personal space'">{{ selectedGroup.name }}</span>
                <span *ngIf="selectedGroup.name === 'Personal space'">Espace personnel</span>

                <span class="spacer"></span>

                <!-- Display user actions based on rights -->
                <button mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Group menu"
                        *ngIf="selectedGroup.name !== 'Personal space'">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <ng-container *ngIf="currentId !== '-1'; else logout">
                        <button mat-menu-item>
                            <mat-icon>group</mat-icon>
                            <span>Liste des membres</span>
                        </button>
                        <button mat-menu-item (click)="openAddModal(false)">
                            <mat-icon>group_add</mat-icon>
                            <span>Ajouter un membre</span>
                        </button>
                        <button mat-menu-item *ngIf="selectedGroup.ownerId !== authService.decodedToken.id">
                            <mat-icon>person_remove</mat-icon>
                            <span>Quitter le groupe</span>
                        </button>
                        <button mat-menu-item *ngIf="selectedGroup.ownerId === authService.decodedToken.id">
                            <mat-icon color="warn">highlight_off</mat-icon>
                            <span class="txt-warn">Supprimer ce groupe</span>
                        </button>
                    </ng-container>

                    <ng-template #logout>
                        <button mat-menu-item (click)="authService.logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Me deconnecter</span>
                        </button>
                    </ng-template>
                </mat-menu>
            </ng-container>

            <ng-template #no_auth>
                <img src="assets/images/logo.svg" alt="Logo" width="48" height="48"
                     class="home" routerLink="/home">
                <span *ngIf="!(isMobile$ | async)" class="home" routerLink="/home">Keep Us</span>
                <span class="spacer"></span>
                <button mat-flat-button class="btn outline" routerLink="/login">
                    Se connecter
                </button>
            </ng-template>
        </mat-toolbar>

        <!-- App content -->
        <div class="app-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>
