.login {
    mat-card {
        border: 2px solid rgb(20,33,61,.94);
        padding: 5%;
        width: 320px;

        h1 {
            text-align: center;
            font-size: 32px;
        }

        mat-form-field, .btn {
            width: 100%;
        }
    }
}
