<div mat-dialog-content>
    <h2 class="txt-center">
        Souhaitez-vous supprimer définitivement {{ data.isGroup ? 'ce groupe': 'cette note' }} ?
    </h2>
    <button mat-flat-button
            [mat-dialog-close]="true"
            class="btn delete"
            type="button"
            (click)="onSubmit()">
        Supprimer
    </button>
    <button mat-flat-button
            mat-dialog-close
            type="button"
            class="btn cancel">
        Annuler
    </button>
</div>
