<section class="head justify-center">
    <div>
        <h1 class="title">Keep Us</h1>
        <h2 class="subtitle">L'organisation au profit de la productivité</h2>
        <div class="justify-center">
            <button mat-flat-button class="btn" routerLink="/signup">Créer un compte</button>
        </div>
    </div>
</section>

<!--<section style="display: flex; justify-content: space-evenly; background-color: #14213D">-->
<!--    <div class="lottie-animation" style="height: 500px">-->
<!--        <ng-lottie-->
<!--            [options]="lottieThink"-->
<!--            (animationCreated)="onAnimate($event)">-->
<!--        </ng-lottie>-->
<!--    </div>-->
<!--    <div>-->
<!--        <h2>Pense a toi</h2>-->
<!--        <ul>-->
<!--            <li>Organise tes idées</li>-->
<!--            <li>Notes tes rappels</li>-->
<!--            <li>Ecris tes pensées</li>-->
<!--        </ul>-->
<!--    </div>-->

<!--</section>-->
<!--<section style="display: flex; justify-content: space-evenly;">-->
<!--    <div>-->
<!--        <h2>Pense a toi</h2>-->
<!--        <ul>-->
<!--            <li>Organise tes idées</li>-->
<!--            <li>Notes tes rappels</li>-->
<!--            <li>Ecris tes pensées</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="lottie-animation" style="height: 700px; width: 700px">-->
<!--        <ng-lottie-->
<!--            [options]="lottieCalendar"-->
<!--            (animationCreated)="onAnimate($event)">-->
<!--        </ng-lottie>-->
<!--    </div>-->
<!--</section>-->
<!--<section style="display: flex; justify-content: space-evenly; background-color: #14213D">-->
<!--    <div class="lottie-animation" style="height: 500px">-->
<!--        <ng-lottie-->
<!--            [options]="lottieGroup"-->
<!--            (animationCreated)="onAnimate($event)">-->
<!--        </ng-lottie>-->
<!--    </div>-->
<!--    <div>-->
<!--        <h2>Pense a toi</h2>-->
<!--        <ul>-->
<!--            <li>Organise tes idées</li>-->
<!--            <li>Notes tes rappels</li>-->
<!--            <li>Ecris tes pensées</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</section>-->
<!--<section style="display: flex; justify-content: space-evenly;">-->
<!--    <div>-->
<!--        <h2>Pense a toi</h2>-->
<!--        <ul>-->
<!--            <li>Organise tes idées</li>-->
<!--            <li>Notes tes rappels</li>-->
<!--            <li>Ecris tes pensées</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="lottie-animation" style="height: 500px">-->
<!--        <ng-lottie-->
<!--            [options]="lottiePuzzle"-->
<!--            (animationCreated)="onAnimate($event)">-->
<!--        </ng-lottie>-->
<!--    </div>-->
<!--</section>-->
