section {
    margin: 0 -24px;
    background-color: rgb(20,33,61,.94);
    padding-bottom: 3%;
    padding-top: 3%;

    @media (max-width: 786px) {
        margin: -10px;
    }

    &.head {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6)
        ), url("../../../assets/images/home-title.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 95vh !important;
        margin-top: -24px;

        @media (max-width: 786px) {
            margin: -10px;
        }

        .title {
            color: #FFFFFF;
            padding-top: 35%;
            text-align: center;

            @media (max-width: 786px) {
                font-size: 64px;
            }
        }

        .subtitle {
            color: #FFFFFF;
            font-size: 30px;
            text-align: center;
            padding: 24px 0;

            @media (max-width: 786px) {
                font-size: 28px;
            }
        }

        .btn {
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 16px;
        }

    }

    hr {
        height: 1px;
        border: 0;
        border-top: 1px solid #FCA311;
        padding-bottom: 24px;
    }

    .description {
        color: #FFFFFF;
        font-size: 18px;

        h2 {
            font-size: 32px;
        }

        @media (max-width: 786px) {
            padding: 18px;
        }
    }


}
