.color-palette {
    flex-wrap: wrap;

    .circle {
        &:hover {
            cursor: pointer;
            border: 2px solid #E5E5E5;
        }
    }

    .active-color {
        border: 2px solid #FCA311;
    }
}
