.color-palette{
    flex-wrap: wrap;

    .circle {
        &:hover {
            cursor: pointer;
            border: 1.5px solid #f5f5f5;
        }
    }

    .active-color {
        border: 1.5px solid #c2185b;
    }

    mat-icon {
        margin-right: 12px;
        font-size: 28px;
        margin-bottom: 5px;
    }
}
