.color-palette {
    flex-wrap: wrap;

    .circle {
        &:hover {
            cursor: pointer;
            border: 2px solid #14213D;
        }
    }

    .active-color {
        border: 2px solid #14213D;
    }
}
