.signup {
    .signup-content {
        width: 320px;

        h1 {
            text-align: center;
        }

        mat-form-field, .btn {
            width: 100%;
        }

        .terms {
            color: rgba(55, 53, 47, 0.5);
            text-align: center;
            margin-top: 45px;
        }
    }
}
