<div class="signup justify-center">
    <mat-card>
        <h1>Inscription</h1>
        <!-- Sign up form -->
        <form  [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput type="text" id="username" formControlName="username" required>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <br/>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type="text" id="email" formControlName="email" required>
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="outline" class="my-form-field">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="passwordHidden ? 'password' : 'text'" formControlName="password"
                       (focus)="isPasswordFocus = true"
                       required>
                <button mat-icon-button matSuffix type="button" (click)="passwordHidden = !passwordHidden">
                    <mat-icon>{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <small *ngIf="isPasswordFocus && signupForm.get('password')?.invalid">
                <mat-icon>cancel</mat-icon>Au moins 8 caractères<br/>
                <mat-icon>cancel</mat-icon>Contient une majuscule <br/>
                <mat-icon>cancel</mat-icon>Contient une minuscule <br/>
                <mat-icon>cancel</mat-icon>Contient un chiffre <br/>
                <mat-icon>cancel</mat-icon>Contient un charactère spécial
            </small>
            <br/>
            <button mat-flat-button type="submit" class="btn secondary justify-center"
                    [ngClass]="{'mt-24': isPasswordFocus}">
                <span *ngIf="!isLoading">Créer mon compte</span>
                <mat-spinner diameter="36" color="primary" *ngIf="isLoading"></mat-spinner>
            </button>
        </form>

        <div class="justify-center">
            <p class="terms">
                En cliquant sur Créer mon compte, j'accepte les
                <a href="#" target="_blank">Conditions générales</a> et je reconnais avoir pris connaissance
                de la  <a href="#" target="_blank">Politique de confidentialité</a> de Keep Us.
            </p>
        </div>
        <div class="or">ou</div>
        <div class="justify-center login">
            J'ai déjà un compte ? <a routerLink="/login" class="ml-12">Connexion</a>
        </div>
    </mat-card>
</div>
