<div class="account-delete">
    <div>
        <h1>Voulez-vous vraiment supprimer le compte ?</h1>
        <ng-container *ngFor="let msg of warningList">
            <div class="justify-start">
                <mat-icon color="warn">warning</mat-icon>
                <p>{{msg}}</p>
            </div>
        </ng-container>

        <p class="delete">Je veux supprimer définitivement le compte.</p>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>

        <p class="txt-warn txt-center" *ngIf="errorMsg.trim() !== ''">{{errorMsg}}</p>

        <button mat-flat-button
                [mat-dialog-close]="true"
                class="btn delete"
                type="button"
                [disabled]="password.trim() === ''"
                (click)="deleteAccount()">
            Supprimer le compte
        </button>
        <button mat-flat-button
                mat-dialog-close
                type="button"
                class="btn cancel"
                routerLink="/profile">
            Annuler
        </button>
    </div>
</div>
