<div class="profile">
    <button mat-flat-button
            color="accent"
            (click)="authService.logout()">
        Logout
    </button>

    <div class="justify-center" *ngIf="authService.decodedToken">
        <div>
            <img src="assets/images/avatars/avatar-{{selectedAvatar}}.png" alt="Avatar" class="avatar">
            <div>
                <button mat-icon-button class="btn-edit" (click)="openAvatarDialog()">
                    <mat-icon>photo_camera</mat-icon>
                </button>
            </div>
            <h1>{{authService.decodedToken.sub}}</h1>
        </div>
    </div>
</div>


