<div mat-dialog-content>
    <div class="justify-end dialog-close">
        <button mat-icon-button [mat-dialog-close]="false">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-form-field appearance="standard">
        <input matInput [(ngModel)]="title" placeholder="Titre" style="font-size: 22px">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="standard" style="margin-bottom: 7px">
        <textarea matInput [(ngModel)]="description"
                  style="font-size: 16px"
                  placeholder="Créer une note..."
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1">
        </textarea>
    </mat-form-field>
    <br/>
    <app-note-color-palette (eventEmitter)="getColor($event)"></app-note-color-palette>
</div>
<div mat-dialog-actions class="justify-center">
    <button mat-flat-button
            class="btn secondary"
            (click)="submit()"
            [mat-dialog-close]="closeModal">
        Créer
    </button>
</div>
