<div mat-dialog-content>
    <div class="justify-end dialog-close">
        <button mat-icon-button [mat-dialog-close]="false">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-form-field appearance="standard">
        <textarea matInput [(ngModel)]="title" placeholder="Titre"
                  style="font-size: 22px"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1">
        </textarea>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="standard">
        <textarea matInput [(ngModel)]="description"
                  style="font-size: 16px"
                  placeholder="Créer une note..."
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1">
        </textarea>
    </mat-form-field>
    <br/>
    <div class="justify-between">
        <app-note-color-palette (eventEmitter)="getColor($event)"></app-note-color-palette>
        <button mat-icon-button (click)="isLocked = !isLocked">
            <mat-icon *ngIf="isLocked">lock</mat-icon>
            <mat-icon *ngIf="!isLocked">lock_open</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-actions class="justify-center">
    <button mat-flat-button
            class="btn secondary"
            (click)="onSubmit()"
            [mat-dialog-close]="closeModal">
        Créer
    </button>
</div>
