<div class="justify-center" style="padding-bottom: 25px;">
    <mat-card class="card">
        <mat-card-content>
            <mat-form-field appearance="legacy">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="title">
            </mat-form-field>
            <br/>
            <mat-form-field appearance="legacy">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="description">
            </mat-form-field>
            <br/>
            <mat-form-field appearance="legacy">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="notes tags">
                    <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                        {{tag}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="#work"
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
            <div class="justify-start">
                <mat-icon style="margin-right: 12px; font-size: 28px">palette</mat-icon>

                <div *ngFor="let color of colors | keyvalue">
                    <div class="circle"
                         [ngStyle]="{ 'background-color': color.value}"
                         [ngClass]="{'active-color': selectedColor === color.key}"
                         (click)="getCurrentColor(color.key)">
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions class="justify-between">
            <button mat-flat-button color="primary" (click)="submit()">Create</button>
            <button mat-flat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>
