html, body {
  height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .delete-color {
        color: #eb4034 !important;
    }

    .justify-between {
        display: flex;
        justify-content: space-between;
    }

    .justify-center {
        display: flex;
        justify-content: center;
    }

    .justify-start {
        display: flex;
        justify-content: start;
    }

    .spacer {
        flex: 1 1 auto !important;
    }
}
