html, body {
  height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .delete-color {
        color: #eb4034 !important;
    }

    .circle {
        border-radius: 50%;
        height: 28px;
        width: 28px;
        margin-right: 5px;
        border: 1.5px solid #5f6368;
        margin-bottom: 5px;
    }

    .justify-between {
        display: flex;
        justify-content: space-between;
    }

    .justify-center {
        display: flex;
        justify-content: center;
    }

    .justify-start {
        display: flex;
        justify-content: flex-start;
    }

    .justify-end {
        display: flex;
        justify-content: flex-end;
    }

    .spacer {
        flex: 1 1 auto !important;
    }
}
