<div class="note-detail" *ngIf="note.id && authService.decodedToken.id">
    <div class="detail-header" [ngStyle]="{'background-color': selectedColor.value}">
        <div [ngClass]="{'justify-between': noteId === -1}">
            <button mat-icon-button *ngIf="noteId === -1"
                    (click)="updateNote(); router.navigate(['notes']).then();">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
<!--            <app-note-menu class="float-r" [note]="note"></app-note-menu>-->
        </div>

        <mat-form-field appearance="standard" class="input-title">
            <textarea matInput
                      placeholder="Titre"
                      [value]="note.title"
                      [(ngModel)]="title"
                      (focusout)="updateNote()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      [disabled]="isLocked && authService.decodedToken.id !== note.ownerId">
            </textarea>
            <mat-hint align="end">Dernière modification le {{ note.updateDate
                ? (note.updateDate  | date:'dd/MM/yyyy')
                : (note.createDate | date:'dd/MM/yyyy') }}
            </mat-hint>
        </mat-form-field>
    </div>

    <div class="justify-between">
        <app-note-color-palette
            *ngIf="!isLocked || authService.decodedToken.id === note.ownerId"
            [detailColor]="note.color"
            (eventEmitter)="getCurrentColor($event)">
        </app-note-color-palette>
    </div>

    <mat-form-field appearance="standard">
        <textarea matInput
                  [value]="note.content"
                  [(ngModel)]="content"
                  (focusout)="updateNote()"
                  placeholder="Créer une note..."
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  [disabled]="isLocked && authService.decodedToken.id !== note.ownerId">
        </textarea>
    </mat-form-field>
</div>

<div class="justify-center spinner" *ngIf="!note.id">
    <mat-spinner diameter="50"></mat-spinner>
</div>
