<div class="note-detail" *ngIf="note">
    <div class="detail-header" [ngStyle]="{'background-color': selectedColor.value}">
        <div [ngClass]="{'justify-between': noteId === -1}">
            <button *ngIf="noteId === -1" mat-icon-button routerLink="/notes">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button mat-icon-button (click)="openRemoveDialog()" class="float-r">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <mat-form-field appearance="standard" class="input-title">
            <textarea matInput
                      placeholder="Titre"
                      [value]="note.title"
                      [(ngModel)]="title"
                      (focusout)="updateNote()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1">
            </textarea>
        </mat-form-field>
    </div>

    <div class="justify-between">
        <app-note-color-palette [detailColor]="selectedColor.value" (eventEmitter)="getCurrentColor($event)"></app-note-color-palette>
        <mat-hint class="vertical-center">{{note.createDate | date:'dd/MM/yyyy'}}</mat-hint>
    </div>

    <mat-form-field appearance="standard">
        <textarea matInput
                  [value]="note.content"
                  [(ngModel)]="content"
                  (focusout)="updateNote()"
                  placeholder="Créer une note..."
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1">
        </textarea>
    </mat-form-field>
</div>
<div class="justify-center spinner" *ngIf="!note">
    <mat-spinner diameter="50"></mat-spinner>
</div>
