<div class="note-detail" *ngIf="note">
    <div class="detail-header" [ngStyle]="{'background-color': selectedColor.value}">
        <div [ngClass]="{'justify-between': noteId === -1}">
            <button *ngIf="noteId === -1" mat-icon-button routerLink="/notes">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

            <div class="justify-end">
<!--                <button mat-icon-button>-->
<!--                    <mat-icon>palette</mat-icon>-->
<!--                </button>-->
                <button mat-icon-button (click)="openRemoveDialog()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>

        <mat-form-field appearance="standard" class="input-title">
            <textarea matInput
                      placeholder="Titre"
                      [value]="note.title"
                      [(ngModel)]="title"
                      (focusout)="updateNote()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1">
            </textarea>
        </mat-form-field>
    </div>

    <mat-hint>{{note.createDate | date:'dd/MM/yyyy'}}</mat-hint>

    <mat-form-field appearance="standard">
        <textarea matInput
                  [value]="note.content"
                  [(ngModel)]="content"
                  (focusout)="updateNote()"
                  placeholder="Créer une note..."
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1">
        </textarea>
    </mat-form-field>
</div>

