.note-detail {
    .detail-header {
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;

        @media (max-width: 786px) {
            margin: -10px;
            border-radius: 0;
            margin-bottom: 16px;
        }
    }

    mat-hint, .float-r {
        float: right;
    }

    mat-form-field {
        width: 100%;
        ::ng-deep .mat-form-field-underline {
            display: none;
        }

        ::ng-deep .mat-form-field-infix {
            padding: 0;
            border-top: 0 solid transparent;
        }

        &.input-title {
            flex-wrap: wrap;

            textarea {
                font-size: 28px;
            }
        }

        textarea {
            color: #070707 !important;
            font-size: 16px;
        }
    }
}
