.note-list {
    mat-card {
        margin-bottom: 24px;
        border: 2px solid transparent;
        min-width: 320px;

        mat-card-subtitle, p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            border: 2px solid #5f6368;
            cursor: pointer;
        }
    }

    .mat-table {
        background-color: transparent;
        box-shadow: none;
    }

    .btn-switch {
        background-color: #c2185b;
    }

    mat-table{
        .mat-row:hover {
            background-color: rgba(233,30,99,.15);
            cursor: pointer;
        }

    }
}
