<div>
    <div style="padding-bottom: 25px;" class="justify-center" *ngIf="!isCreationMode">
        <button mat-stroked-button (click)="isCreationMode = true">
            Create a new note ...
        </button>
    </div>

    <!-- Note creation component -->
    <app-note-creation *ngIf="isCreationMode" (mode)="getMode($event)"></app-note-creation>

    <mat-grid-list [cols]="valueCols"
                   [gutterSize]="'20px'"
                   rowHeight="2:1"
                   (window:resize)="breakPoints()">
        <mat-grid-tile fxFlexAlign="stretch" *ngFor="let note of [0,0,0,0,0,0,0,0]">
            <mat-card class="card">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card is a note example.</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
