<div class="note-list">
    <div class="justify-between note-header" *ngIf="isMobile$ | async">
        <button mat-icon-button class="icon-btn" (click)="openFilterDialog()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-flat-button class="btn secondary" (click)="openCreationDialog()">
            Créer une note
        </button>
        <button mat-icon-button class="icon-btn"
                [disabled]="notes.length <= 0"
                (click)="isTable = !isTable">
            <mat-icon *ngIf="!isTable">list</mat-icon>
            <mat-icon *ngIf="isTable">splitscreen</mat-icon>
        </button>
    </div>

    <!-- Display note list -->
    <div [ngClass]="{'justify-start': !(isMobile$| async)}">
        <div [ngClass]="{'flex-display': !(isMobile$| async)}">
            <div class="justify-between mb-20" *ngIf="!(isMobile$| async)">
                <button mat-icon-button class="icon-btn" (click)="openFilterDialog()">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button class="icon-btn" (click)="openCreationDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div cdkDropList class="content-scroll" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let note of notes" cdkDrag>
                    <div class="placeholder" *cdkDragPlaceholder></div>

                    <mat-card [ngStyle]="{ 'background-color': note.color }"
                              [ngClass]="{ 'selected': noteId === note.id }"
                              (click)="goToNoteDetail(note.id)">
                        <mat-card-subtitle>{{note.title}}</mat-card-subtitle>
                        <mat-card-content>
                            <p>{{note.content}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <!-- Web detail view -->
        <app-note-detail *ngIf="noteId" class="note-detail" [noteId]="noteId" (reload)="reload($event)"></app-note-detail>
    </div>

    <div class="justify-center" style="padding-top: 10%" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
</div>


