.note-list {
    mat-card {
        width: 324px;
    }

    .mat-table {
        background-color: transparent;
        box-shadow: none;
    }

    .btn-switch {
        background-color: #c2185b;
    }

    mat-table{
        .mat-row:hover {
            background-color: rgba(233,30,99,.15);
            cursor: pointer;
        }

    }
}
