<div class="note-list">
    <button mat-fab class="icon-btn" aria-label="Add note" *ngIf="isMobile$ | async"
            style="position: fixed; bottom: 10px; z-index: 100; right: 10px"
            (click)="openCreationDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <div [ngClass]="{'row': !(isMobile$| async)}">
        <!-- Display note list -->
        <div [ngClass]="{'column-left': !(isMobile$| async)}">
            <div class="justify-between sticky-item mb-12" *ngIf="!(isMobile$| async)">
                <h2 class="vertical-center">Les notes</h2>
                <button mat-icon-button class="icon-btn" (click)="openCreationDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div cdkDropList class="content-scroll" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let note of notes" cdkDrag [cdkDragStartDelay]="250">
                    <div class="placeholder" *cdkDragPlaceholder></div>
                    <mat-card [ngStyle]="{ 'background-color': note.color }"
                              [ngClass]="{ 'selected': noteId === note.id }"
                              (click)="goToNoteDetail(note.id)">
                        <mat-card-subtitle>{{note.title}}</mat-card-subtitle>
                        <mat-card-content>
                            <p>{{note.content}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <!-- Web detail view -->
        <div [ngClass]="{'column-right': !(isMobile$| async)}">
            <app-note-detail *ngIf="noteId" class="note-detail" [noteId]="noteId" (reload)="reload($event)"></app-note-detail>
        </div>
    </div>

    <div class="justify-center spinner" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
</div>


